.advantages {
  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
    }
  }
  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  &__item {
    width: 450px;

    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
  &__thumb {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px;
    background: var(--button-color);
  }
  &__title {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-color);
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color);
  }
}
