.contacts {
  &.item {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--brand-color);
  }
}

.contact {
  &__list {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 64px;
      color: var(--brand-color);
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      margin-left: auto;
      gap: 50px;
    }
  }
  &__item {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 12px;
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    transition: color 250ms var(--timing-function);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 1.14;
      color: var(--text-color);
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      padding: 32px 0px 32px;
    }
    &:hover,
    &:focus {
      color: var(--brand-color);
    }
  }
  &__icon {
    margin-right: 10px;
  }
}
.icon-mail {
  display: none;
  @media screen and (min-width: 768px) {
    width: 14px;
    height: 10px;
  }
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}
.icon-tel {
  display: none;
  @media screen and (min-width: 768px) {
    width: 10px;
    height: 14px;
  }
  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}
