.page-header {
  &__container {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
      justify-content: space-between;
    }
  }
  &__logo {
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 24px;
      padding-bottom: 25px;
      margin-right: 93px;
    }

    color: var(--header-logo-color);
  }
}
.page-header {
  position: sticky;
  top: 0;
  z-index: 999;
  overflow-x: clip;
  background-color: var(--additional-color);
  border: 1px solid #ececec;
}
