.team {
  background-color: var(--button-color);
  &__title {
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }
  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  &__item {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    background: var(--additional-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) {
      max-width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
  &__worker {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 24px;

    @media screen and (min-width: 1200px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  &__subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
    color: var(--main-color);
  }
  &__text {
    margin-top: 10px;
    line-height: 1.19;
    text-align: center;
    color: var(--text-color);
  }
  &__social-list {
    display: flex;
    margin-top: 16px;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  &__social-link {
    width: 44px;
    height: 44px;
    display: inline-flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
    fill: var(--social-link-color);
    &:hover,
    &:focus {
      fill: var(--additional-color);
      background-color: var(--brand-color);
    }
  }
}
